<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="MuaHang/main.css">
</head>

<body>

    <div class="phan-huong-dan-chon-size-cho-khach">
        <%- include('../huongDanChonSize/huongDanChonSize') %>
    </div>
    <div class="main" id="xxxx">


        <div class="flex-container">
            <div class="support-image">
                <a href=""><img class="imgsp" src="anh/quantayslimtron.jpg" alt=""></a>
                <a href=""><img class="imgsp" src="anh/quantayslimtron2.jpg" alt=""></a>
                <a href=""><img class="imgsp" src="anh/quantayslimtron3.jpg" alt=""></a>
                <a href=""><img class="imgsp" src="anh/quantayslimtron4.jpg" alt=""></a>
                <a href=""><img class="imgsp" src="anh/quantayslimtron5.jpg" alt=""></a>
                <a href=""><img class="imgsp" src="anh/quantayslimtron6.jpg" alt=""></a>
            </div>
            <div class="mainimage">
                <img src="anh/quantayslimtron.jpg">
            </div>
            <div class="info">
                <div class="ten-gia">
                    <h3>Quần Tây Nam Ống Ôm Xếp Ly Phối Chỉ Trơn Form Slim</h3>
                    <h2>540.000 ₫</h2>
                </div>

                <div class="tenMau">
                    <p>Chọn màu sắc:
                        <h7>BLACK</h7>
                    </p>
                </div>

                <div class="danhSachMau">
                    <div class="changeimg" data-mau="BLACK">
                        <img src="anh/quantayslimtron.jpg">
                    </div>
                    <div class="changeimg">
                        <img src="anh/quantayslimtronnau.jpg">
                    </div>
                </div>

                <div class="chonsize">
                    <p class="sz">Chọn size:
                        <h7>M</h7>
                    </p>
                    <p class="huongdan">Hướng dẫn chọn size</p>
                </div>
                <div class="danhSachSize">
                    <button class="button1 ">28</button>
                    <button class="button1">29</button>
                    <button class="button1">30</button>
                    <button class="button1">31</button>
                    <button class="button1">32</button>
                </div>

                <div class="soluong">
                    <p>Chọn số lượng :
                        <h7>1</h7>
                    </p>
                </div>

                <div class="chonsoluong">
                    <div class="number">
                        <span class="minus">-</span>
                        <span class="num">1</span>
                        <span class="plus">+</span>
                    </div>
                    <div class="buttonMua">
                        <p class="muangay">MUA NGAY</p>
                    </div>

                    <div class="yeuthich_tym">
                        <img class="tym" src="anh/heart.png">
                    </div>
                </div>
                <div class="thongtinthem">
                    <ul>
                        <li>
                            <div class="icon">
                                <img src="anh/clock.png" alt="">
                            </div>
                            <div>
                                <strong>Giao hàng nhanh</strong>
                                <p class="p2">Từ 2-5 ngày</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="anh/van.png" alt="">
                            </div>
                            <div>
                                <strong>Miễn phí vận chuyển</strong>
                                <p class="p2">Đơn hàng từ 399K</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="anh/search.png" alt="">
                            </div>
                            <div>
                                <strong>Theo dõi đơn hàng</strong>
                                <p style="font-weight: bold; color: black;" class="p2">một cách dễ dàng</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="anh/parcel.png" alt="">
                            </div>
                            <div>
                                <strong>Đổi trả linh hoạt</strong>
                                <p class="p2">Không khuyến mãi</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="anh/wallet.png" alt="">
                            </div>
                            <div>
                                <strong>Thanh toán đơn giản</strong>
                                <p style="font-weight: bold; color: black;" class="p2">nhiều hình thức</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="anh/headphones.png" alt="">
                            </div>
                            <div>
                                <strong>Hotline hỗ trợ</strong>
                                <p style="font-weight: bolder; color: black;" class="p2">039 9999 365</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="headerdacdiem">
                    <img src="anh/rewind-button.png" alt="">
                    <h3>ĐẶC ĐIỂM NỔI BẬT</h3>
                </div>
                <div class="dacdiem">
                    <ul class="thongtin1">
                        <li>Form : Slim</li>
                        <li>Thiết kế : Trơn</li>
                        <li>Nhóm sản phẩm : Quần Vải</li>
                    </ul>
                    <ul class="thongtin2">
                        <li>Chất liệu : Polyester</li>
                        <li>Giới tính : Nam</li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="danhgia"><button>GỬI ĐÁNH GIÁ CỦA BẠN</button></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="MuaHang/main.js">

    </script>
</body>

</html>