<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="ThanhToan/main.css">
</head>

<body>
    <div class="main">
        <p class="ten_trang_web">Trang chủ / thanh toán</p>
        <div class="trang-thanh-toan">
            <div class="thong-tin-san-pham-gio-hang">

                <div class="tieude">
                    <i class="fas fa-shopping-cart"></i>
                    <p>Giỏ Hàng</p>
                </div>

                <p class="soluong-sp">
                    <h7>
                        0
                    </h7>
                    sản phẩm
                </p>

                <div class="DanhSachGioHang">

                    <div class="ItemGioHang">
                        <div class="anhItem">
                            <img src="anh/quantayslimtron5.jpg">
                        </div>

                        <div class="thongtin-item">

                            <div class="ten-san-pham">
                                <p>Tên Sản Phẩm sáhjsabsajjbsabasjbasjhbkldkd kjdfbjdfb</p>
                            </div>


                            <div class="mau-size">
                                <div class="mau">
                                    <p>MÀU
                                        <h7>
                                            BLACK
                                        </h7>
                                    </p>
                                </div>
                                <div class="size">
                                    <p>SIZE
                                        <h7>
                                            XS
                                        </h7>
                                    </p>
                                </div>
                            </div>

                            <div class="soluong">
                                <p>SỐ LƯỢNG:
                                    <h7>
                                        0
                                    </h7>
                                </p>

                            </div>
                            <div class="gia-san-pham">
                                <p class="gia">0đ</p>
                            </div>

                        </div>

                        <div class="button-xoa-item-gio_hang">
                            <i class="fas fa-times"></i>
                        </div>


                    </div>


                </div>

                <div class="thongtin-giohang">
                    <div class="tieude_thongtin">
                        <i class="fas fa-map-marker"></i>
                        <p>Thông tin giao hàng</p>
                    </div>

                    <form class="hoaDonForm">
                        <div class="thong_tin_ht_sdt">


                            <input type="text" id="ho" name="ho" placeholder="họ" required>


                            <input type="text" id="ten" name="ten" placeholder="tên" required>


                            <input type="text" id="sdt" name="sdt" placeholder="số điện thoại" required>
                        </div>




                        <div class="diachi">

                            <select id="thanhPho" name="thanhPho" placeholder="Thành phố/Tỉnh:" required>
                                <option value="" disabled selected>Chọn thành phố/tỉnh</option>
                                <!-- Danh sách các thành phố/tỉnh -->
                            </select>


                            <select id="quanHuyen" name="quanHuyen" placeholder="Quận/Huyện:" required>
                                <option value="" disabled selected>Chọn quận/huyện</option>
                                <!-- Danh sách các quận/huyện -->
                            </select>


                            <select id="phuongXa" name="phuongXa" placeholder="Phường/Xã:" required>
                                <option value="" disabled selected>Chọn phường/xã</option>
                                <!-- Danh sách các phường/xã -->
                            </select>
                        </div>



                        <div class="thong_tin_e_n_g">

                            <input type="text" id="soNha" name="soNha" placeholder="số nhà" required>


                            <input type="text" id="email" name="email" placeholder="email" required>


                            <input type="text" id="ghiChu" name="ghiChu" placeholder="ghi chú"></input>
                        </div>



                        <!-- <button type="submit">Xác nhận</button> -->
                    </form>
                </div>
            </div>
            <div class="thong-tin-khac">

                <div class="tam_tinh">

                    <p class="ten_tieude">TẠM TÍNH</p>

                    <div class="thongtin_chiphi">

                        <p class="sl">Số lượng
                            <h7>
                                1
                            </h7>
                        </p>

                        <p class="tt">Tạm tính
                            <h7>
                                0 đ
                            </h7>
                        </p>

                        <p class="pvc">Phí vận chuyển
                            <h7> 0 đ</h7>
                        </p>

                    </div>

                    <div class="tong_hoa_don">
                        <p class="tong_tien">
                            Tổng cộng
                            <h7>
                                0 đ
                            </h7>
                        </p>
                    </div>

                </div>


                <div class="thanh_toan">

                    <p class="so_tien_thanh_toan">
                        THANH TOÁN
                        <h7>
                            0 đ
                        </h7>
                    </p>
                </div>
            </div>
        </div>

    </div>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="ThanhToan/main.js">

    </script>
</body>

</html>