<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="TrangChu/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>

    <div class="main">

        <div class="khuyen-mai">

            <div class="sale item">
                <img src="SALE_UP_TO_50_-_T1023_4_.jpg">
                <div class="button buttonSale">
                    <p>XEM NGAY</p>
                </div>
            </div>
            <div class="coffee item">
                <img src="Banner-Tang-150k.jpg">
                <div class="button buttonCoffee">
                    <p>XEM NGAY</p>
                </div>
            </div>
            <div class="somi item">
                <img src="Banner-Wedding-session.jpg">
                <div class="button buttonSomi">
                    <p>XEM NGAY</p>
                </div>
            </div>

        </div>


        <div class="Coffee">

            <h1>MUA QUẦN CÙNG ÁO COFFEE GIẢM 150K</h1>
            <div class="combo-150k">

                <div class="item">
                    <div class="AnhSanPham">
                        <img class="anh1" src="10s23tss062-ao-thun_2__3.jpg">
                        <img class="anh2" src="tang-150k.png">
                    </div>

                    <div class="conten-item">
                        <p>Áo Thun Nam Tay Ngắn Vải Coffee</p>
                        <i class="fa-regular fa-heart"></i>
                    </div>

                    <p class="gia">590.000 đ</p>


                </div>

                <div class="item">

                    <div class="AnhSanPham">
                        <img class="anh1" src="ao-so-mi-nam-10s21shl003cr2_black_1_177_1.jpg">
                        <img class="anh2" src="tang-150k.png">
                    </div>
                    <div class="conten-item">
                        <p>Áo Sơ Mi Nam Tay Dài sợi Coffee</p>
                        <i class="fa-regular fa-heart"></i>
                    </div>

                    <p class="gia">490.000 đ</p>


                </div>

                <div class="item">

                    <div class="AnhSanPham">
                        <img class="anh1" src="10s22shs010_-_white_3__1_6_1.jpg">
                        <img class="anh2" src="tang-150k.png">
                    </div>
                    <div class="conten-item">
                        <p>Áo Sơ Mi Nam Tay Ngắn sợi Coffee</p>
                        <i class="fa-regular fa-heart"></i>
                    </div>

                    <p class="gia">490.000 đ</p>

                </div>


            </div>

            <div class="button-coffee">XEM THÊM</div>
        </div>



    </div>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="TrangChu/main.js"></script>
</body>

</html>