<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="/QuanNam/main.css">
</head>

<body>

    <div class="main">

        <div class="BoLoc">

            <p class="iconBoLoc">Bộ Lọc<i class="fas fa-filter"></i></p>

            <div class="DanhSachLuaChon">

                <!-- <div class="button">
                    <p>Áo Nam</p>
                    <i class="fas fa-times"></i>
                </div> -->

            </div>

            <div class="ThietKe MucLuc">
                <div class="TieuDe">
                    <h4>Thiết Kế</h4>
                    <i class="fas fa-chevron-down"></i>
                </div>


                <div class="MenuItem">

                    <div class="Item">
                        <input type="checkbox" value="ahc"></input>
                        <p>Áo Nam</p>
                    </div>

                    <div class="Item">
                        <input type="checkbox"></input>
                        <p>Quần Nam</p>
                    </div>

                </div>

            </div>

            <div class="Form MucLuc">

                <div class="TieuDe">
                    <h4>Form</h4>
                    <i class="fas fa-chevron-down"></i>
                </div>

                <div class="MenuItem">

                    <div class="Item">
                        <input type="checkbox"></input>
                        <p>Áo Nama</p>
                    </div>

                    <div class="Item">
                        <input type="checkbox"></input>
                        <p>Quần Nam</p>
                    </div>

                </div>

            </div>
            <div class="NhomSanPham MucLuc">
                <div class="TieuDe">
                    <h4>Nhóm Sản Phẩm</h4>
                    <i class="fas fa-chevron-down"></i>
                </div>

                <div class="MenuItem">

                    <div class="Item">
                        <input type="checkbox"></input>
                        <p>Áo Nam</p>
                    </div>

                    <div class="Item">
                        <input type="checkbox"></input>
                        <p>Quần Nam</p>
                    </div>

                </div>
            </div>
            <div class="MauSac MucLuc">
                <div class="TieuDe">
                    <h4>Màu Sắc</h4>
                    <i class="fas fa-chevron-down"></i>
                </div>

                <div class="MenuItem">
                    <div class="Item">
                        <input type="checkbox"></input>
                        <p>Áo Nam</p>
                    </div>

                    <div class="Item">
                        <input type="checkbox"></input>
                        <p>Quần Nam</p>
                    </div>

                </div>
            </div>
            <div class="Size MucLuc">
                <div class="TieuDe">
                    <h4>Size</h4>
                    <i class="fas fa-chevron-down"></i>
                </div>

                <div class="MenuItem">

                    <div class="ItemSize">
                        <p>S</p>
                        <p>M</p>
                        <p>xxl</p>
                        <p>S</p>
                        <p>M</p>
                        <p>xxl</p>

                        <p>S</p>
                        <p>M</p>
                        <p>xxl</p>
                    </div>



                </div>
            </div>
            <div class="GiaTien MucLuc">
                <div class="TieuDeGia">
                    <h4>Giá Tiền</h4>
                    <i class="fas fa-chevron-down"></i>
                </div>

                <div class="MenuItemGia">



                    <input type="range" min="0" max="2000000" step="100" value="0">

                    <div class="selected-price">0 - 2.000.000 VND</div>

                    <input type="range" min="0" max="2000000" step="100" value="2000000">



                </div>
            </div>
            <div class="ChatLieu MucLuc">
                <div class="TieuDe">
                    <h4>Chất Liệu</h4>
                    <i class="fas fa-chevron-down"></i>
                </div>

                <div class="MenuItem">

                    <div class="Item">
                        <input type="checkbox"></input>
                        <p>Áo Nam</p>
                    </div>

                    <div class="Item">
                        <input type="checkbox"></input>
                        <p>Quần Nam</p>
                    </div>

                </div>
            </div>

        </div>


        <div class="DanhSachSanPham">

            <div class="top-danhSachSanPham">
                <p class="soLuongSanPham">
                    sản phẩm</p>

                <div class="SapXep">
                    <label class="sorter-label" for="sorter">Sắp xếp</label>
                    <select id="sorter" class="sorter-options">
                        <option value="position" selected="selected">
                            Mặc định </option>
                        <option value="price_asc">
                            Giá tăng dần </option>
                        <option value="price_desc">
                            Giá giảm dần </option>
                    </select>

                </div>
            </div>

            <p class="thongBao"></p>

            <div class="AoQuan">
                <!-- KHONG TIM THAY KET QUA PHU HOP -->

                <div class="ItemAoQuan">
                    <img src="">
                    <div class="contentItem">
                        <p class="tenSanPham">tenSanPham</p>
                        <i></i>
                    </div>

                    <p class="gia">540.000</p>
                    <div class="MauSac">



                    </div>


                </div>
            </div>



            <div class="PhanTrang">

                <button class="previous"><i class="fas fa-chevron-left"></i></button>
                <a class="trang">1</a>
                <a class="trang">2</a>
                <button class="next"><i class="fas fa-chevron-right"></i></button>


            </div>
        </div>

    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/QuanNam/main.js"></script>
</body>

</html>