<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>

    <div class="footer">

        <div class="ThongTinCoBan muclucx">
            <p>Logo</p>

            <h3>CÔNG TY TNHH ... VIETNAM</h3>
            <p>Mã Thuế:...</p>
            <p>Địa chỉ:...</p>
        </div>

        <div class="Congty muclucx">
            <h3>Công Ty</h3>

            <div class="thongtin">
                <p>Giới thiệu</p>
                <p>Tuyển dụng</p>
                <p>Tin thời trang</p>
                <p>Liên hệ</p>
            </div>


            <h3>KẾT NỐI VÓI CHÚNG TÔI</h3>

            <div class="icon">

                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-tiktok"></i>
                <i class="fab fa-shopify"></i>


            </div>
        </div>

        <div class="ChinhSachKhachHang muclucx">
            <h3>CHÍNH SÁCH KHÁCH HÀNG</h3>

            <div class="thongtinchinhsach">
                <p>Khách hàng thân thiết</p>
                <p>Đổi trả</p>
                <p>Bảo hành</p>
                <p>Mua hàng</p>
            </div>
        </div>


        <div class="ThongTinCuaHang muclucx">
            <h3>THÔNG TIN CỬA HÀNG</h3>

            ....


        </div>


    </div>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="/footer.js"></script> -->
</body>

</html>