<!DOCTYPE html>
<html>

<head>

    <title>Thanh Toán</title>
</head>

<body>
    <div class="headerThanhToan">
        <%- include('../layouts/ThanhToan/header') %>
    </div>
    <div class="mainThanhToan">
        <%- include('../layouts/ThanhToan/main') %>
    </div>

    <div class="footerThanhToan">
        <%- include('../layouts/footer') %>
    </div>

</body>

</html>