<!DOCTYPE html>
<html>

<head>
    <title>TÀI KHOẢN</title>

</head>

<body>
    <div class="headerThoiTrangNam">
        <%- include('../layouts/TaiKhoan/header') %>
    </div>
    <div class="mainThoiTrangNam">
        <%- include('../layouts/TaiKhoan/main') %>
    </div>

    <div class="footerThoiTrangNam">
        <%- include('../layouts/footer') %>
    </div>

</body>

</html>