<!DOCTYPE html>
<html>

<head>

    <title>QUẦN NAM</title>
</head>

<body>
    <div class="headerQuanNam">
        <%- include('../layouts/QuanNam/header') %>
    </div>
    <div class="mainQuanNam">
        <%- include('../layouts/QuanNam/main') %>
    </div>

    <div class="footerQuanNam">
        <%- include('../layouts/footer') %>
    </div>

</body>

</html>