<!DOCTYPE html>
<html>

<head>

    <title>ÁO NAM</title>
</head>

<body>
    <div class="headerAoNam">
        <%- include('../layouts/AoNam/header') %>
    </div>
    <div class="mainAoNam">
        <%- include('../layouts/AoNam/main') %>
    </div>

    <div class="footerAoNam">
        <%- include('../layouts/footer') %>
    </div>

</body>

</html>