<!DOCTYPE html>
<html>

<head> </head>
<title>TRANG CHỦ</title>

<body>

    <%- include('../layouts/TrangChu/header') %>
        <%- include('../layouts/TrangChu/main') %>
            <%- include('../layouts/footer') %>


</body>

</html>