<!DOCTYPE html>
<html>

<head>

    <title>COFFEE</title>
</head>

<body>
    <div class="headerThoiTrang">
        <%- include('../layouts/CoffeeTang150k/header') %>
    </div>
    <div class="mainThoiTrang">
        <%- include('../layouts/CoffeeTang150k/main') %>
    </div>

    <div class="footerThoiTrangNam">
        <%- include('../layouts/footer') %>
    </div>

</body>

</html>