<!DOCTYPE html>
<html>

<head>

    <title>MUA HÀNG</title>
</head>

<body>
    <div class="headerThoiTrangNam">
        <%- include('../layouts/MuaHang/header') %>
    </div>
    <div class="mainThoiTrangNam">
        <%- include('../layouts/MuaHang/main') %>
    </div>

    <div class="footerThoiTrangNam">
        <%- include('../layouts/footer') %>
    </div>

</body>

</html>